body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    padding: 0 1rem;
}

.btn{
    display: inline-block;
    border: node;
    background: #555;
    color: #fff;
    padding: 7px 20 px;
    cursor: pointer;
}

.btn:hover {
    background: #666;
}