.add-family-member {
    text-align: center;
    align-content: center;
    padding:10px;
    line-height: 30px;;
}

.add-form{
    width:40%;
}

.add-form-div {
    background: rgb(108, 176, 185);
    max-width: 450px;
    border-radius: 8%;
    height: 30px;
    margin:auto;
    margin-bottom: 15px;
    vertical-align: middle;

}

.alert {
    background: rgb(187, 35, 35);
    max-width: 190px;
    font-size: small;
    margin:auto;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5%;
    opacity: 0.9;
    
    
}
